@use "@/styles/variables";
@use "@/styles/mixins";

.card {
  @include mixins.setBgColor(
    variables.$base-color-light,
    variables.$dark-color-4
  );

  @include mixins.setBorderColor(
    variables.$gray-color-8,
    variables.$dark-color-7
  );

  height: 100%;

  border-style: solid;
  border-width: 1px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
