@use "@/styles/variables";
@use "@/styles/mixins";

.box {
  @include mixins.displayFlex(space-between, stretch, 8px, column);
  @include mixins.minScreen(2xl) {
    @include mixins.displayFlex(space-between, stretch);
  }

  .header,
  .profit {
    @include mixins.displayFlex(space-between, stretch, 20px, column);
  }

  .profit {
    text-align: end;
  }

  .stats-title {
    @include mixins.setTextColor(
      variables.$gray-color-3,
      variables.$light-color-3
    );

    font-size: variables.$font-size-20;
    line-height: 30px;
    font-weight: 400;
  }

  .percentage {
    font-weight: 700;
    font-size: variables.$font-size-14;
    line-height: 16px;
  }

  .price {
    font-size: 40px;
    @include mixins.minScreen(xl) {
      font-size: 56px;
      line-height: 72px;
    }
    font-weight: 500;
  }

  .chart {
    @include mixins.displayFlex(end, end, 15px);
    margin-bottom: 12px;

    & span {
      border: 4px solid;
      opacity: 0.54;
      display: inline-block;
      width: 2px;
      border-radius: 32px;
      -webkit-border-radius: 32px;
      -moz-border-radius: 32px;
      -ms-border-radius: 32px;
      -o-border-radius: 32px;
    }

    span:first-of-type {
      height: 30px;
    }
    span:nth-of-type(2) {
      height: 45px;
      opacity: 1;
    }
    span:nth-of-type(3) {
      height: 35px;
    }
    span:last-of-type {
      height: 52px;
    }
  }
}
