@use "@/styles/variables";
@use "@/styles/mixins";

//———————————————————————————————— custom style ————————————————————————————————
.pricing-section {
  @include mixins.setBgColor(variables.$light-color-4, variables.$dark-color-5);

  padding-block: 120px;

  & header {
    margin-bottom: 55px;
  }

  .sec-container {
    max-width: 95%;

    @include mixins.minScreen(md) {
      max-width: 90%;
    }
  }

  .plans {
    @include mixins.displayFlex(center, stretch, 32px, column);

    @include mixins.minScreen(md) {
      @include mixins.displayFlex(center, stretch, 32px);
      flex-wrap: wrap;
    }

    @include mixins.minScreen(lg) {
      @include mixins.displayFlex(center, stretch, 32px);
      flex-wrap: nowrap;
    }
    @include mixins.minScreen(2xl) {
      max-width: 77%;
    }
    margin: 0 auto;
  }
}
