@use "@/styles/variables";
@use "@/styles/mixins";

.analysis-sec {
  padding: 0px 200px 142px 200px;

  .sec-container {
    @include mixins.minScreen(lg);
    max-width: 95%;
  }

  .cards {
    @include mixins.displayGrid(12, 30px, 30px);

    & > *:first-child,
    & > *:nth-child(3) {
      padding: 60px 27px;

      & > h3 > span {
        font-size: variables.$font-size-18;
        line-height: 25.2px;
      }

      & > p {
        font-size: variables.$font-size-base;
        line-height: 22.4px;
      }
    }

    & > *:nth-child(2),
    & > *:nth-child(4),
    & > *:nth-child(5) {
      & > h3 > span {
        font-size: 28px;
        line-height: 42px;
      }

      & > p {
        font-size: variables.$font-size-20;
        line-height: 36px;
      }
    }

    & > *:first-child {
      grid-column: span 3;
    }

    & > *:nth-child(2) {
      grid-column: span 6;
      padding: 32px 37px 0 37px;
      & > p {
        font-size: variables.$font-size-20;
      }
    }

    & > *:nth-child(3) {
      grid-column: span 3;
    }

    & > *:nth-child(4) {
      grid-column: span 6;
      padding: 37px 37px 0 38.5px;
    }

    & > *:nth-child(5) {
      grid-column: span 6;
      padding: 48px 52px;

      & > h3 > span {
        font-size: 48px;
        line-height: 72px;
      }

      & > p {
        font-size: 22px;
        line-height: 36px;
      }
    }
  }
}
