@use "@/styles/variables";
@use "@/styles/mixins";

.stats-sec {
  .sec-container {
    @include mixins.minScreen(lg);
    max-width: 80%;
  }
  .stats-card {
    box-shadow: 2px 10px 81px -8px rgba($color: #000000, $alpha: 0.14);
    padding: 38px 30px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;

    .profit-cards {
      @include mixins.displayGrid(15, 25px, 20px);

      .profit-card {
        grid-column: span 5;

        &:first-of-type {
          & span {
            color: variables.$stats-color-lime;
          }
        }
        &:nth-of-type(2) {
          & span {
            color: variables.$stats-color-red;
          }
        }
        &:last-of-type {
          & span {
            color: variables.$stats-color-blue;
          }
        }
      }

      .balance {
        grid-column: span 3;
      }
      .chart {
        grid-column: span 9;
      }
      .employee {
        grid-column: span 3;
      }
    }
  }
}
