@use "@/styles/variables";
@use "@/styles/mixins";

//———————————————————————————————— custom style ————————————————————————————————
.pricing-section {
  @include mixins.setBgColor(variables.$light-color-4, variables.$dark-color-5);

  padding-block: 120px;

  & header {
    margin-bottom: 55px;
  }

  .plans {
    @include mixins.displayFlex(center, stretch, 32px);
    max-width: 77%;
    margin: 0 auto;
  }
}
