@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: variables.$font-size-base;
}

body,
button {
  font-family: variables.$font-family-default;
}

button {
  font-size: variables.$font-size-base;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
  margin-bottom: -4px;

  &:visited {
    color: inherit;
  }
}

ul {
  list-style-type: none;
}
