@use "./variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: variables.$font-size-base;
}

body,
button {
  font-family: variables.$font-family-default;
}

button {
  font-size: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
