@use "sass:map";
@use "./variables";

//generate css variables from scss variables
@mixin generateThemeVars($map) {
  @each $key, $val in $map {
    --#{$key}: #{$val};
  }
}

/// Max-width breakpoint
@mixin maxScreen($size) {
  @media (max-width: map.get(variables.$breakpoints, $size)) {
    @content;
  }
}

/// Min-width breakpoint
@mixin minScreen($size) {
  @media (min-width: map.get(variables.$breakpoints, $size)) {
    @content;
  }
}

/// Between two breakpoints
@mixin minMaxScreen($min, $max) {
  @media (min-width: map.get(variables.$breakpoints, $min)) and (max-width: map.get(variables.$breakpoints, $max)) {
    @content;
  }
}

//flex
@mixin displayFlex(
  $justify: center,
  $align: center,
  $gap: 8px,
  $direction: row
) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
}

//grid
@mixin displayGrid($colNum: 1, $colGap: 8px, $rowGap: 8px) {
  display: grid;
  grid-template-columns: repeat($colNum, 1fr);
  gap: $rowGap $colGap;
}

//set text color
@mixin setTextColor($lightThemeColor, $darkThemeColor) {
  color: $lightThemeColor;

  :global(html.dark) & {
    color: $darkThemeColor;
  }
}

//set background color
@mixin setBgColor($lightThemeBgColor, $darkThemeBgColor) {
  background-color: $lightThemeBgColor;

  :global(html.dark) & {
    background-color: $darkThemeBgColor;
  }
}

//set border color
@mixin setBorderColor($lightThemeBorderColor, $darkThemeBorderColor) {
  border-color: $lightThemeBorderColor;

  :global(html.dark) & {
    border-color: $darkThemeBorderColor;
  }
}
