//———————————————————————————————— fonts ————————————————————————————————
$font-family-default: "DM Sans", sans-serif;
$font-family-inter: "Inter", sans-serif;
$font-size-base: 16px;

//———————————————————————————————— color theme ————————————————————————————————
$theme-color: (
  primary-bg-color: #a3dc2f,
  primary-fg-color: #729f19,
  primary-border-color: #364c09,
  primary-color-dark: #171f05,
  primary-color-light: #e5eadb,
  //^dark
  base-color-dark: #000000,
  dark-color-1: #0f0f0f,
  dark-color-2: #161616,
  dark-color-3: #171717,
  dark-color-4: #1a1a1a,
  dark-color-5: #1d1c20,
  dark-color-6: #1f1f1f,
  dark-color-7: #242424,
  //^gray
  gray-color-1: #333333,
  gray-color-2: #4b4b4b,
  gray-color-3: #4f4f4f,
  gray-color-4: #828282,
  gray-color-5: #9b9ca1,
  gray-color-6: #b9b3b3,
  gray-color-7: #bdbdbd,
  gray-color-8: #e0e0e0,
  //^light
  light-color-1: #f2f2f2,
  light-color-2: #f4f4f4,
  light-color-3: #f5f5f5,
  light-color-4: #f6f6f6,
  light-color-5: #fafafa,
  light-color-6: #fbfbfb,
  base-color-light: #ffffff,
  //^accent
  accent-color: #33c6ab,
  accent-dark-color: #112220,
  //^placeholder
  placeholder-color: #7c7c7c,
  //^mix
  pink-color: #fbade0,
  blue-color: #6893ff,
  lime-color: #dfff9d,
  stars-color: #ffc250,
  blue-color-100: #2b59ff,
  //^stats
  stats-color-lime: #72a700,
  stats-color-red: #ee1f1f,
  stats-color-blue: #003fdb,
);

//———————————————————————————————— breakpoints ————————————————————————————————
$breakpoints: (
  xs: 480px,
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  3xl: 1920px,
);
