@use "@/styles/variables";
@use "@/styles/mixins";

.upgrade-sec {
  padding-block: 115px;

  .card {
    @include mixins.displayFlex(space-between, center);
    @include mixins.setBgColor(
      variables.$base-color-light,
      variables.$dark-color-1
    );

    padding: 19px;
    border-radius: 40px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;

    .end-col {
      img {
        border-radius: 34px;
        -webkit-border-radius: 34px;
        -moz-border-radius: 34px;
        -ms-border-radius: 34px;
        -o-border-radius: 34px;
        width: 100%;
      }
    }

    .start-col {
      @include mixins.displayFlex();
      padding-inline-start: 60px;
      width: 50%;

      p {
        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$base-color-light
        );

        font-weight: 700;
        font-size: 72px;
        line-height: 86px;
        margin-bottom: 56px;
      }
    }

    .btns {
      @include mixins.displayFlex(start, center, 22px);

      button {
        font-weight: 500;
        font-size: variables.$font-size-18;
        padding-inline: 0 !important;
        width: 240px;
      }

      button:first-of-type {
        @include mixins.setBgColor(
          variables.$primary-bg-color,
          variables.$primary-bg-color
        );

        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$dark-color-5
        );
      }
      button:last-of-type {
        @include mixins.setBgColor(
          variables.$dark-color-5,
          variables.$base-color-light
        );

        @include mixins.setTextColor(
          variables.$base-color-light,
          variables.$dark-color-5
        );
        color: variables.$base-color-light;
      }
    }
  }
}
