@use "@/styles/variables";

.btn {
  --btn-bg: variables.$dark-color-5;
  --btn-color: variables.$base-color-light;
  font-weight: 500;
  font-size: variables.$font-size-base;

  &.default-btn {
    background-color: var(--btn-bg);
    color: var(--btn-color);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  &.rounded-btn {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  &.outlined-btn {
    background-color: variables.$light-color-4;
    border-color: variables.$dark-color-8 !important;
    border-width: 1px 1px 0 1px;
    border-style: inset;
    border-radius: 64px;
    -webkit-border-radius: 64px;
    -moz-border-radius: 64px;
    -ms-border-radius: 64px;
    -o-border-radius: 64px;
  }
  &.none-btn {
    background-color: transparent;
    padding-inline: 0 !important;
    padding-block: 0 !important;
  }
}

:global(html.dark) {
  .btn {
    --btn-bg: variables.$light-color-1 !important;
    --btn-color: variables.$dark-color-5 !important;

    &.outlined-btn {
      color: variables.$light-color-6;
      background-color: variables.$dark-color-6;
      border-color: variables.$dark-color-8;
    }
  }
}
