@use "@/styles/variables";
@use "@/styles/mixins";

.btn {
  font-weight: 500;
  font-size: variables.$font-size-base;

  &.default-btn {
    @include mixins.setBgColor(
      variables.$dark-color-5,
      variables.$light-color-1
    );

    @include mixins.setTextColor(
      variables.$base-color-light,
      variables.$dark-color-5
    );

    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  &.rounded-btn {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
  }

  &.outlined-btn {
    @include mixins.setBgColor(
      variables.$light-color-4,
      variables.$dark-color-6
    );
    @include mixins.setTextColor(
      variables.$dark-color-5,
      variables.$light-color-6
    );

    position: relative;
    display: block;

    border-color: variables.$dark-color-8;
    border-width: 1px 1px 0 1px;
    border-style: solid;

    &::after {
      content: "";
      position: absolute;
      left: -1px;
      right: -1px;
      bottom: 0;
      top: 1px;
      border: none;
      border-bottom: 1px solid variables.$light-color-4;
    }

    &,
    &::after {
      border-radius: 64px;
      -webkit-border-radius: 64px;
      -moz-border-radius: 64px;
      -ms-border-radius: 64px;
      -o-border-radius: 64px;
    }
  }

  &.none-btn {
    background-color: transparent;
    padding-inline: 0 !important;
    padding-block: 0 !important;
  }
}

:global(html.dark) {
  .btn {
    &.outlined-btn {
      border-color: variables.$dark-color-8;

      &::after {
        border-bottom: 1px solid variables.$dark-color-1 !important;
      }
    }
  }
}
