@use "@/styles/variables";
@use "@/styles/mixins";

.icon-container {
  @include mixins.displayFlex();
  background-color: variables.$light-color-4;
  padding: 8px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  cursor: pointer;

  & > * {
    width: 30px;
    height: 30px;
    color: variables.$dark-color-5;
  }
}
