@use "@/styles/variables";

.card {
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
  padding: 72px 40px 40px 40px;
  background-color: variables.$light-color-2;
  border: 1px solid variables.$gray-color-7;
}
