@use "@/styles/variables";
@use "@/styles/mixins";

.header {
  &,
  .content {
    @include mixins.displayFlex(center, center, 16px, column);
  }

  .content {
    max-width: 65%;

    & :first-child {
      font-size: 47.5px;
      font-weight: 700;
      line-height: 48px;
    }

    & :last-child {
      font-size: variables.$font-size-18;
      line-height: 30px;
    }
  }
}
