@use "@/styles/mixins";
@use "@/styles/variables";

.header {
  @include mixins.setBgColor(
    variables.$base-color-light,
    variables.$dark-color-1
  );
  padding: 20px 0;
}

.navbar {
  @include mixins.setTextColor(
    variables.$dark-color-5,
    variables.$dark-color-5
  );

  .container {
    @include mixins.displayFlex();
    margin: 0 auto;

    @include mixins.minScreen(2xl) {
      max-width: 1400px;
    }

    padding-inline: 40px;

    & > * {
      width: calc(100% / 3);
    }
  }
}

.logo {
  @include mixins.displayFlex(start);
  img {
    width: 18px;
    height: 18px;
  }
  p {
    @include mixins.setTextColor("inherit", variables.$light-color-6);

    font-size: variables.$font-size-20;
    font-family: variables.$font-family-inter;
    font-weight: 600;
  }
}

.nav-links {
  @include mixins.displayFlex(start);

  li {
    @include mixins.setTextColor("inherit", variables.$gray-color-5);
    padding: 8px;

    & > a {
      text-transform: capitalize;
      font-size: variables.$font-size-18;
      @include mixins.displayFlex(start, center, 4.5px);
    }
  }
}

.nav-actions {
  @include mixins.displayFlex(end, center, 16px);
  margin-inline-start: auto;

  & > * {
    @include mixins.setTextColor(
      variables.$dark-color-5,
      variables.$light-color-6
    );
  }

  & > *:not(button) {
    cursor: pointer;
    padding: 4px;
  }

  .lang > button {
    @include mixins.setTextColor(
      variables.$dark-color-5,
      variables.$light-color-6
    );

    font-size: variables.$font-size-18;
    padding-inline: 1px;
  }
}
