@use "@/styles/mixins";
@use "@/styles/variables";

.header {
  background-color: variables.$base-color-light;
  padding: 20px 0;
}

.navbar {
  color: variables.$dark-color-5;

  .container {
    @include mixins.displayFlex();
    margin: 0 auto;

    @include mixins.minScreen(2xl) {
      max-width: 1400px;
    }

    padding-inline: 40px;

    & > * {
      width: calc(100% / 3);
    }
  }
}

.logo {
  @include mixins.displayFlex(start);
  img {
    width: 18px;
    height: 18px;
  }
  p {
    font-size: variables.$font-size-20;
    font-family: variables.$font-family-inter;
    font-weight: 600;
  }
}

.nav-links {
  @include mixins.displayFlex(start);

  li {
    padding: 8px;

    & > a {
      text-transform: capitalize;
      font-size: variables.$font-size-18;
      @include mixins.displayFlex(start, center, 4.5px);
    }
  }
}

.nav-actions {
  @include mixins.displayFlex(end, center, 16px);
  margin-inline-start: auto;

  & > * {
    color: variables.$dark-color-5;
  }

  & > *:not(button) {
    cursor: pointer;
    padding: 4px;
  }

  .lang > button {
    font-size: variables.$font-size-18;
    padding-inline: 1px;
  }
}

//———————————————————————————————— dark mode ————————————————————————————————
:global(html.dark) {
  .header {
    background-color: variables.$dark-color-1;
  }

  .logo > p {
    color: variables.$light-color-6;
  }

  .nav-links > li {
    color: variables.$gray-color-5;
  }

  .nav-actions > * {
    color: variables.$light-color-6;
  }
}
