@use "@/styles/mixins";
@use "@/styles/variables";

.line {
  @include mixins.setBgColor(variables.$gray-color-8, variables.$dark-color-2);

  height: 0.8px;
  width: 100%;
  margin-top: 16px;
}

.header {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  @include mixins.setBgColor(
    variables.$base-color-light,
    variables.$dark-color-1
  );
  padding: 20px 0;
}

.navbar {
  @include mixins.setTextColor(
    variables.$dark-color-5,
    variables.$dark-color-5
  );

  .container {
    @include mixins.displayFlex(space-between);
    padding-inline: 20px;

    padding-inline: 20px;
    @include mixins.minScreen(2xl) {
      padding-inline: 40px;
      max-width: 75%;
      @include mixins.displayFlex();
    }
    margin: 0 auto;

    & > * {
      width: calc(100% / 3);
    }

    .logo {
      @include mixins.displayFlex(start);
      img {
        width: 18px;
        height: 18px;
      }
      p {
        @include mixins.setTextColor("inherit", variables.$light-color-6);

        font-size: variables.$font-size-20;
        font-family: variables.$font-family-inter;
        font-weight: 600;
      }
    }

    .nav-links {
      @include mixins.displayFlex(center);

      li {
        @include mixins.setTextColor("inherit", variables.$gray-color-5);
        padding: 8px;

        & > a {
          text-transform: capitalize;
          font-size: variables.$font-size-18;
          @include mixins.displayFlex(start, center, 4.5px);
        }
      }
    }

    .nav-actions {
      @include mixins.displayFlex(end, center, 16px);
      margin-inline-start: auto;

      & > * {
        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$light-color-6
        );
      }

      & > *:not(button) {
        cursor: pointer;
        padding: 4px;
      }

      .lang > button {
        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$light-color-6
        );

        font-size: variables.$font-size-18;
        padding-inline: 1px;
      }
    }

    .mobile-menu {
      text-align: end;
      position: relative;

      .menu-icon {
        @include mixins.setTextColor(
          variables.$dark-color-4,
          variables.$light-color-2
        );
        padding: 3px;
        cursor: pointer;
      }

      .menu-body {
        @include mixins.setBgColor(
          variables.$gray-color-9,
          variables.$dark-color-6
        );
        @include mixins.setTextColor(
          variables.$dark-color-4,
          variables.$light-color-2
        );

        position: absolute;
        inset-inline-end: 0;
        inset-block-start: 110%;
        z-index: 9999;
        min-width: 250px;
        &,
        ul {
          @include mixins.displayFlex(start, stretch, 15px, column);
        }
        padding: 15px;
        border-radius: 8px;
      }
    }
  }
}
