@use "@/styles/variables";
@use "@/styles/mixins";

.input-group {
  @include mixins.displayFlex(space-between, stretch, 0);
  @include mixins.setBgColor(
    variables.$base-color-light,
    variables.$dark-color-7
  );

  width: 100%;

  &,
  & > * {
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
  }

  .input {
    background-color: transparent;
    padding-inline: 20px;
    padding-block: 15px;
    border: none;
    line-height: 22px;

    &,
    &::placeholder {
      @include mixins.setTextColor(
        variables.$dark-color-5,
        variables.$dark-color-5
      );

      font-size: 16px;
      line-height: 22px;
      font-family: variables.$font-family-default;
    }

    &:focus-within {
      outline: none;
    }
  }

  button {
    @include mixins.setBgColor(
      variables.$primary-bg-color,
      variables.$primary-bg-color
    );

    @include mixins.setTextColor(
      variables.$light-color-5,
      variables.$light-color-5
    );

    font-size: variables.$font-size-base;
    font-weight: 700;
    line-height: 28px;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}
