@use "@/styles/variables";
@use "@/styles/mixins";

//———————————————————————————————— custm styles ————————————————————————————————
footer {
  @include mixins.setBgColor(variables.$gray-color-8, variables.$dark-color-1);

  margin-top: auto;
  padding-block-start: 98px;

  .container {
    max-width: 85%;
    margin: 0 auto;
  }

  .footer-content {
    @include mixins.displayFlex(start, stretch, 138px);
    padding-block: 47px;

    h2 {
      @include mixins.setTextColor(
        variables.$dark-color-5,
        variables.$light-color-5
      );

      margin-bottom: 32px;
      font-weight: 700;
      font-size: variables.$font-size-20;
    }

    ul {
      @include mixins.displayFlex(start, stretch, 24px, column);

      @include mixins.setTextColor(
        variables.$gray-color-3,
        variables.$gray-color-6
      );

      font-size: variables.$font-size-base;
      line-height: 100%;
    }
  }

  .first-col {
    max-width: 32%;

    .logo {
      @include mixins.displayFlex(start);
      margin-block-end: 32px;

      img {
        width: 24px;
        height: 24px;
      }
      p {
        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$light-color-6
        );

        font-size: variables.$font-size-24;
        font-weight: 600;
        font-family: variables.$font-family-inter;
      }
    }

    & > p {
      @include mixins.setTextColor(
        variables.$gray-color-3,
        variables.$gray-color-6
      );

      font-size: variables.$font-size-20;
      margin-bottom: 16px;
      line-height: 160%;
    }

    .social-icons {
      @include mixins.displayFlex(start, center, 12px);

      .icon {
        @include mixins.displayFlex(center, center);

        @include mixins.setTextColor(
          variables.$dark-color-5,
          variables.$base-color-light
        );

        @include mixins.setBgColor(
          variables.$light-color-1,
          variables.$gray-color-2
        );

        cursor: pointer;
        padding: 2px;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;

        &:nth-of-type(2) {
          @include mixins.setTextColor(
            variables.$base-color-light,
            variables.$base-color-light
          );

          @include mixins.setBgColor(
            variables.$blue-color-100,
            variables.$blue-color-100
          );
        }
      }
    }
  }

  .fourth-col {
    flex-grow: 1;
  }

  .copyright {
    @include mixins.setTextColor(
      variables.$gray-color-3,
      variables.$light-color-5
    );

    text-align: center;
    font-size: variables.$font-size-14;
    line-height: 20px;
    padding-block: 46px;
    border-top: 1px solid variables.$gray-color-7;
  }
}

//———————————————————————————————— dark theme ————————————————————————————————
:global(html.dark) {
  footer {
    .fourth-col input[type="email"] {
      &,
      &::placeholder {
        color: variables.$base-color-light !important;
      }
    }

    .copyright {
      border-top: 1px solid variables.$gray-color-1;
    }
  }
}
