@use "./styles/base";
@use "./styles/variables";
@use "./styles/mixins";

body {
  background-color: variables.$light-color-4;
}

.dark {
  body {
    background-color: variables.$dark-color-5;
  }
}

.container {
  margin: 0 auto;

  @include mixins.minScreen(2xl) {
    max-width: 80%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
