@use "./styles/base";
@use "./styles/variables";
@use "./styles/mixins";

:root {
  @include mixins.generateThemeVars(variables.$theme-color);
}

.container {
  margin: 0 auto;

  @include mixins.minScreen(2xl) {
    max-width: 80%;
  }
}
