@use "./styles/base";
@use "./styles/variables";
@use "./styles/mixins";

body {
  background-color: variables.$light-color-4;
}

.dark {
  body {
    background-color: variables.$dark-color-5;
  }
}

.container {
  margin: 0 auto;

  @include mixins.minScreen(2xl) {
    max-width: 86.5%;
  }
}

.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

//———————————————————————————————— spinner ————————————————————————————————
.loader {
  width: 48px;
  height: 48px;
  border: 5px solid #fff;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.spinner-container {
  @include mixins.displayFlex();
  padding-block: 30px;
}
